<p>Total listings: {{me.pager.total}}</p>
<p>Page: {{me.pager.page}} of {{me.pager.pageCount}} </p>
<button ng-click="prevPageOfUnits()">Prev Page</button>
<input type="text" placeholder="{{me.pager.page}}" ng-model="page">
<button ng-click="nextPageOfUnits()">Next Page</button>

<p><b> Search: </b></p> <input type="text" placeholder="Facility Name" ng-model="search.$">
<!--<table>
  <tr>
    <th>
      Unit Name
    </th>
    <th>
      Unit Last Update
    </th>
  </tr>
  <tr ng-repeat = "x in me.organisationUnits | filter:search">
    <td style="width: 25%; height: 25px">
      <a ng-click="pressUnit(x.href)" 
         style=" cursor pointer; 
                text-decoration underline; 
                color black"> 
	{{x.name}}
    </td>
    <td style="width: 25%; text-align:left; white-space: nowrap"> {{x.lastUpdated}} </td>
  </tr>
</table>
-->
<accordion close-others="viewOn">
  <accordion-group heading="{{x.name}}" ng-repeat="x in me.organisationUnits | filter:search">
    <p> Facility Name: {{x.name}} </p>
    <p> Last Updated: {{x.lastUpdated}} </p>
    <button ng-click="editUnit()">Edit Unit</button>
  </accordion-group>
</accordion>
