<p>This is a test<p>

<p>Page nr: {{me.pager.page}}</p>
<p>Page count: {{me.pager.pageCount}}</p>
<p>Total listings: {{me.pager.total}}</p>
<p>Next page: {{me.pager.nextPage}}</p>

<p><b> Seach: </b></p> <input type="text" placeholder="Facility Name" ng-model="search.$">
<table>
  <tr>
    <th>
      Unit Name
    </th>
    <th>
      Unit Last Update
    </th>
  </tr>
  <tr ng-repeat = "x in me.organisationUnits | filter:search">
    <td style="width: 25%; height: 25px">
      <a ng-click="ok(x.name)" 
         style=" cursor pointer; 
                text-decoration underline; 
                color black"> 
	{{x.name}} 
    </td>
    <td style="width: 25%; text-align:left; white-space: nowrap"> {{x.lastUpdated}} </td>
  </tr>
  <tfoot>
    <td colspan="6">
      <div class="pagination pull-right">
        <ul>
          <li ng-class="{disabled: currentPage == 0}">
            <a href ng-click="prevPage()">« Prev</a>
          </li>
          
          <li ng-repeat="n in makearray(me.pager.pageCount)"
              <!--ng-class="{active: n == currentPage}"
              ng-click="setPage()">
            <a href ng-bind="n + 1">1</a>-->
          </li>
	  
          <li ng-class="{disabled: (currentPage) == totalPages}">
            <a href ng-click="nextPage()">Next »</a>
          </li>
        </ul>
      </div>
    </td>
  </tfoot>
</table>
<script type="text/javascript" src="partials/tableCtrl.js"></script>

<p>End of test<p>
